

<%- include('templates/header', {title: "Inicio"}); %>

<link rel="stylesheet" href="css/index.css">
<script src="https://kit.fontawesome.com/dec9278e05.js" crossorigin="anonymous"></script>
</head>
<body >
    <div class="container-fluid text-center h-100">
        <div class="row fixed-top">
            <div class="barriers col p-4"></div>
        </div>
        <div class="row h-100 align-items-center">
            <div class="col-md">
                
                <h1 class="presentation-col">Tinder-Job</h1>
                <p>Plataforma similar a Linked.in</p>
                <a href="./auth/login"><button type="button" id="redirect-button" class="btn btn-primary btn-lg">Entrar</button></a>

            </div>
            <div class="col">

                <i class="fa fa-briefcase icons flex" aria-hidden="true"></i>
                <i class="fa fa-plus icons flex"></i>
                <i class="fa fa-user icons flex"></i>

            </div>
        </div>
        <div class="row fixed-bottom">
            <div class="barriers col p-4"></div>
        </div>
    </div>
</body>
</html>