<%- include('templates/header', {title: "Perfil"}); %>

<link rel="stylesheet" href="/css/profile.css">
<script src="https://kit.fontawesome.com/dec9278e05.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container-fluid text-center h-100">
        <div class="row h-100">
            <div class="col-sm-2 options-panel" name="options">
            <div style="height: 50px;">
            </div>

            <ul class="options-list">
                <a href="/profile" class="option-text"><li class="option-list"><i class="fa fa-user"></i> Profile</li></a>
                <a href="/timeline" class="option-text"><li class="option-list"><i class="fa fa-hashtag"></i> Explore</li></a>
                <li><button class="btn btn-light p-2 pt-1 pb-1 log-out-button">Log Out</button></li>
            </ul>
           

            </div>
            <div class="col">

            <div class="row principal-panel">

                <div class="col">

                </div>

                <div class="col">

                    <img class="rounded-circle img-fluid avatar-image border border-primary border-3 mt-4" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                    <div id="main-info" class="mt-2 mb-4">

                        <p class="text-light h3">Mr. Apellido, Nombre</p>
                    <p class="subtitle h4">Full Stack Developer</p>
                    <p class="status h5">(Finding a new job)</p>

                    </div>

                    <button class="btn btn-primary">Edit Profile</button>

                </div> 

                <div class="col">



                </div>
            </div>

            <div class="row">

                <button class="h4 pt-2 pb-2 mb-0 container-fluid" data-bs-toggle="collapse" data-bs-target="#description">Description</button>

                <div id="description" class="collapse">
                
                <p class="h6 mt-3 mb-3">
                    Esta es una gran descripción.
                </p>

                </div>

                <button class="h4 pt-2 pb-2 mb-0 container-fluid" data-bs-toggle="collapse" data-bs-target="#information">Information</button>

                <div id="information" class="collapse">
                
                <ul class="information-list h5 mt-3 mb-3">
                    <li>Birth Date: </li>
                    <li>Language: </li>
                    <li>Nationality: </li>
                    <li>Country, state: </li>
                    <br>
                    <li>Organization: </li>
                    <li>Job: </li>
                    
                </ul>

                </div>

                
                <button class="h4 pt-2 pb-2 mb-0 container-fluid" data-bs-toggle="collapse" data-bs-target="#contact">Contact</button>

                <div id="contact" class="collapse">
                
                <ul class="contact-list h5 mt-3 mb-3">
                    <li><i class="fa fa-envelope contact-icons"></i> Email:</li>
                    <li><i class="fa fa-phone contact-icons"></i> Phone: </li>
                    <li><i class="fa fa-globe contact-icons"></i> Residence: </li>
                </ul>

                </div>

                <div class="border pt-3 pb-3 posts-title h3 border-top-4 border-dark">
                    Posts
                </div>

                <div class="post-item">

                    <div class="post-user h5 mt-3">

                        <img class="rounded-circle img-user-post border" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                        <b>Usuario</b>

                    </div>

                    <img class="post-photo mt-3 mb-3" src="https://i.imgur.com/Ed6YnO8.jpeg">

                    <p>Esta es una descripción del post en cuestión.</p>

                    <div class="border border-1 pt-2 pb-2 m-0">
                        <button class="container-fluid" data-bs-toggle="collapse" data-bs-target="#comments1">Comments</button>

                        <div id="comments1" class="collapse mt-2">

                            <div class="post-comment border">

                                <img class="comment-photo" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                                <b class="h6 mr-2">Usuario</b>

                                <label class="text-opacity-75">01:04</label>

                                <p class="comment-content">Este es un comentario muy interesante</p>

                            </div>

                            <div class="post-comment border">

                                <img class="comment-photo" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                                <b class="h6 mr-2">Usuario</b>

                                <label class="text-opacity-75">01:04</label>

                                <p class="comment-content">Este es un comentario muy interesante</p>

                            </div>

                        </div>
                    </div>
                   

                </div>

                <div class="post-item">

                    <div class="post-user h5 mt-3">

                        <img class="rounded-circle img-user-post border" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                        <b>Usuario</b>

                    </div>

                    <img class="post-photo mt-3 mb-3" src="https://i.imgur.com/Ed6YnO8.jpeg">

                    <p>Esta es una descripción del post en cuestión.</p>

                    <div class="border border-1 pt-2 pb-2 m-0">
                        <button class="container-fluid" data-bs-toggle="collapse" data-bs-target="#comments2">Comments</button>

                        <div id="comments2" class="collapse mt-2">

                            <div class="post-comment border">

                                <img class="comment-photo" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                                <b class="h6 mr-2">Usuario</b>

                                <label class="text-opacity-75">01:04</label>

                                <p class="comment-content">Este es un comentario muy interesante</p>

                            </div>

                            <div class="post-comment border">

                                <img class="comment-photo" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                                <b class="h6 mr-2">Usuario</b>

                                <label class="text-opacity-75">01:04</label>

                                <p class="comment-content">Este es un comentario muy interesante</p>

                            </div>

                        </div>
                    </div>
                   

                </div>

            </div>

            

            </div>
          
            <div class="col-sm-2 options-panel" name="fill">
              
            </div>

          </div>
    </div>
   
</body>
</html>