<%- include('templates/header', {title: "Timeline"}); %>

<link rel="stylesheet" href="/css/timeline.css">
<script src="https://kit.fontawesome.com/dec9278e05.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container-fluid text-center h-100">
        <div class="row h-100">
            <div class="col-sm-2 options-panel" name="options">
            <div style="height: 50px;">
            </div>

            <ul class="options-list">
                <a href="/profile" class="option-text"><li class="option-list"><i class="fa fa-user"></i> Profile</li></a>
                <a href="/timeline" class="option-text"><li class="option-list"><i class="fa fa-hashtag"></i> Explore</li></a>
                <form action="/logout" method="post">
                    <button class="btn btn-light p-2 pt-1 pb-1 log-out-button" type="submit">Log Out</button>
                </form>
            </ul>
           
            </div>
            <div class="col">

                <div class="post-item">

                    <div class="post-user h5 mt-3">

                        <img class="rounded-circle img-user-post border" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                        <b>Usuario</b>

                    </div>

                    <img class="post-photo mt-3 mb-3" src="https://i.imgur.com/Ed6YnO8.jpeg">

                    <p>Esta es una descripci贸n del post en cuesti贸n.</p>

                    <div class="border border-1 pt-2 pb-2 m-0">
                        <button class="container-fluid" data-bs-toggle="collapse" data-bs-target="#comments1">Comments</button>

                        <div id="comments1" class="collapse mt-2">

                            <div class="post-comment border">

                                <img class="comment-photo" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                                <b class="h6 mr-2">Usuario</b>

                                <label class="text-opacity-75">01:04</label>

                                <p class="comment-content">Este es un comentario muy interesante</p>

                            </div>

                            <div class="post-comment border">

                                <img class="comment-photo" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                                <b class="h6 mr-2">Usuario</b>

                                <label class="text-opacity-75">01:04</label>

                                <p class="comment-content">Este es un comentario muy interesante</p>

                            </div>

                        </div>
                    </div>
                   

                </div>

                <div class="post-item">

                    <div class="post-user h5 mt-3">

                        <img class="rounded-circle img-user-post border" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                        <b>Usuario</b>

                    </div>

                    <img class="post-photo mt-3 mb-3" src="https://i.imgur.com/Ed6YnO8.jpeg">

                    <p>Esta es una descripci贸n del post en cuesti贸n.</p>

                    <div class="border border-1 pt-2 pb-2 m-0">
                        <button class="container-fluid" data-bs-toggle="collapse" data-bs-target="#comments2">Comments</button>

                        <div id="comments2" class="collapse mt-2">

                            <form action="">
                                <textarea rows="3" id="new-comment" class="container-fluid mb-1 mt-3" name="new-comment" placeholder="Add a new comment..."></textarea>

                                <button class="btn btn-primary mb-1" type="submit">Comment</button>
                            </form>

                            <div class="post-comment border">

                                <img class="comment-photo" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                                <b class="h6 mr-2">Usuario</b>

                                <label class="text-opacity-75">01:04</label>

                                <p class="comment-content">Este es un comentario muy interesante</p>

                            </div>

                            <div class="post-comment border">

                                <img class="comment-photo" src="https://discountdoorhardware.ca/wp-content/uploads/2018/06/profile-placeholder-3.jpg">

                                <b class="h6 mr-2">Usuario</b>

                                <label class="text-opacity-75">01:04</label>

                                <p class="comment-content">Este es un comentario muy interesante</p>

                            </div>

                        </div>
                    </div>
                   

                </div>

            </div>
          
            <div class="col-sm-2 options-panel" name="fill">
              
            </div>

          </div>
    </div>
   
</body>
</html>