body {
    background-color: #002652;
}

.register-container {

    background-color: #F5F5F5;
    width: 700px;
    border-radius: 0.5cm;
    margin-bottom: 2cm;
   

}

.register-sign {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}